unknown 
false 4
unknown 
unknown 
true 15
unknown 
unknown 
true 8 12
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
true 7
unknown 
unknown 
unknown 
unknown 
false 1 2 4
true 10 11 12 13
false 8
true 4
unknown 
unknown 
unknown 
unknown 
true 7 8 9 10 11
false 7 8 9 10 11
true 1 9 10
unknown 
true 3
unknown 
true 2
unknown 
true 6
true 4
true 5 6 7
false 1
false 5 9 11
unknown 
true 5 9 11
unknown 
unknown 
unknown 
unknown 
unknown 
true 3 7
true 6
false 5 6
false 5
true 4 5
unknown 
unknown 
true 1 6
false 1 6
true 7
true 3 4
unknown 
unknown 
unknown 
true 4
true 1
true 4
true 1
true 4
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
true 2 3
unknown 
unknown 
false 9 10 12 14 16
false 8 9 11 15
false 3
false 6 8 9
false 0 8
true 7 8 10
true 0 3
true 0 3 7 8
true 5
true 5 7
false 2 7
true 6
true 6
false 6 8 10
true 6 8 10
true 0
false 0
false 8 10
unknown 
unknown 
false 7 9
unknown 
true 8 10 12
false 2 5 6
true 2 4
unknown 
unknown 
true 3
false 3
true 3
true 16 17
true 14
unknown 
true 11
true 11
false 9 12
true 9 12
false 11
false 11
true 1 2 4
unknown 
unknown 
unknown 
unknown 
true 4 6
false 5 6 11
false 4
false 6
false 5 9
true 5
unknown 
true 3
unknown 
unknown 
true 3
true 3
true 4
unknown 
true 4
true 2 3
false 1 3 4 5 7
unknown 
unknown 
unknown 
unknown 
true 3 4 7
unknown 
unknown 
true 3 4 5
false 1 3
true 1 3
true 2
unknown 
unknown 
unknown 
true 0
true 1 3 4 6
unknown 
true 3 6 7
true 3
unknown 
false 3
unknown 
true 7
unknown 
unknown 
false 8
unknown 
true 8
unknown 
false 3
true 3
unknown 
unknown 
unknown 
true 10
true 4 5
unknown 
unknown 
false 7 9
false 0 1 11
unknown 
true 7 8 9 10
true 2 4 5
true 5 6
false 7 9 10 12
unknown 
true 8
true 4
false 4
true 6 7
unknown 
false 11
unknown 
true 3
false 3
false 10 11 12
true 8 10 11 12
unknown 
true 5 6 7
false 0
unknown 
unknown 
true 3
false 6
false 4 5 9
true 6
unknown 
unknown 
unknown 
unknown 
false 9
unknown 
unknown 
unknown 
false 6
false 6
false 1 3
true 1 3
true 1 10 12
true 10
unknown 
unknown 
true 10 11 12 15
true 9 10 14
false 9 10 14
unknown 
false 5
unknown 
false 5
true 5
false 7 8 9 11
unknown 
unknown 
true 8
true 3
true 1 3 5 6
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
true 5
true 10 13
false 10 13
true 4
true 2 3 4 5
true 2 3 4 5
true 7 8
true 5 7 9
unknown 
unknown 
true 5 7 8
true 3 4 5 6
true 7
unknown 
true 2 3 4
false 2
true 2 6
true 1 2 4 5
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
true 8 11 12
false 8 10 11
true 8 10 11
unknown 
false 7 11
unknown 
unknown 
unknown 
unknown 
unknown 
false 12
true 12
true 12
false 12
unknown 
true 5
unknown 
unknown 
unknown 
true 0
true 0
unknown 
false 5
true 3 5
unknown 
unknown 
true 2
true 5 6
true 4 6
false 6 7
true 6 7
unknown 
unknown 
false 11
false 11 12 14
true 3
unknown 
true 3
true 0
true 5
false 0 4 5
true 6 10
true 2
unknown 
unknown 
unknown 
unknown 
unknown 
false 2
true 2
unknown 
true 3
true 2 3
unknown 
unknown 
unknown 
unknown 
true 4 7 9 11
unknown 
unknown 
unknown 
unknown 
unknown 
true 7 9
false 7 9
false 10 11 13 14 15
false 12
false 11
true 1 3
true 1 2 7
unknown 
true 8 13
false 1 5
true 1 5
unknown 
true 2
true 0 5
true 0
false 2
false 0 5
false 0
unknown 
true 2
true 0
true 0
false 4
false 7 8
false 5
unknown 
false 3
unknown 
true 4 5
true 8 9 11
unknown 
false 3
unknown 
unknown 
true 7
true 4
false 7
true 7
true 1 2 3 4
false 1 2 3 4
true 5 6 7
true 2 3
false 2 3
unknown 
unknown 
unknown 
true 4
false 13
true 4
unknown 
true 9
unknown 
unknown 
false 9 10 12
true 8
false 8
false 5
false 9 13
false 11 14
true 11 14
unknown 
true 9 10 11 16
unknown 
true 9
unknown 
unknown 
unknown 
false 4
true 4 5
false 4 5
unknown 
unknown 
unknown 
unknown 
true 9 13
unknown 
true 3 6
true 3
true 2
true 4
false 3 5 6 7
false 3 7
false 1 2
unknown 
true 1 3
unknown 
true 3 5
false 0
true 0
false 6 7 8
true 6 7 8
unknown 
unknown 
unknown 
true 0 1 5
unknown 
unknown 
true 2 3
unknown 
true 3 4 6
false 3 4 6
true 5
true 1 2
true 2
true 2 4 5
unknown 
true 0 4 5 6
unknown 
false 0 4 5 6
true 2 6
true 2
unknown 
true 0
unknown 
unknown 
unknown 
false 4
true 4 5 8
true 4
false 4 5 8
unknown 
unknown 
unknown 
unknown 
unknown 
true 1
unknown 
unknown 
unknown 
unknown 
unknown 
true 6 8
unknown 
unknown 
unknown 
true 4
true 5 6
unknown 
true 9 10
unknown 
unknown 
unknown 
true 7
true 4
true 4 6
true 3
true 3 6
true 3 4 6
true 2 3 5
unknown 
true 8
false 5
true 5
false 6
true 6
true 0
true 4 7
true 4
unknown 
unknown 
unknown 
unknown 
true 13
unknown 
unknown 
false 8 12
false 10 11 12
true 10 11 12
false 10
false 16
false 7
unknown 
unknown 
unknown 
false 2 3 5
true 2 3 5
true 7 11
true 2 3 6
true 7 11
false 1
true 1
true 2 3
false 2 3
true 11 16
true 6 7
true 1
true 0
false 1
unknown 
false 5
false 4 7
true 5
true 3
true 4
true 5
true 4 6 8
unknown 
true 1 13
false 1 13
unknown 
true 0 2
true 13
false 13
unknown 
unknown 
false 5 6 7
unknown 
false 4 7
true 4 7
true 1
true 4
unknown 
false 7 8
true 5 9
false 8 9 10 12
false 6 8 10
true 6 8 10
true 3
true 4 5
false 4 5
true 1 4
true 1
unknown 
true 6
unknown 
unknown 
unknown 
false 2
true 2
true 2
true 10 17
false 10 17
unknown 
unknown 
true 2 4
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
true 3 16
true 4 5
unknown 
false 3 9
false 5
true 5
unknown 
true 2 3 4
true 11
true 7 9
false 7 9
true 6 7 10
false 6 7 10
false 2 9 10
true 2 9 10
false 5
true 12
unknown 
true 3 5
unknown 
unknown 
false 11 14
true 11 14
true 3
false 9 13
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
true 3 7 8 11
false 12 16
true 12 13 16
true 12 16
true 3
true 3
false 6 8
true 6
true 1 5
true 2 6
false 5
unknown 
true 5
unknown 
true 10 12 14
unknown 
unknown 
unknown 
unknown 
false 0 9
false 0 15 21
false 8
false 13
true 7 10
true 0 21
true 7 8
true 13 16
unknown 
unknown 
true 8 9
unknown 
true 3 5
true 3 4
true 3
unknown 
unknown 
false 4
true 5
false 5
true 5
true 5
false 5
true 5
true 4
unknown 
unknown 
true 6
true 2
true 1 5
false 1 3
false 2 3 4 5
false 3 4
true 1 3
true 2 3 4 5
true 3 4
true 3
unknown 
true 3 5
false 6 12
true 2
unknown 
true 6
true 4
unknown 
unknown 
unknown 
true 2 3
true 6
true 2
true 2
unknown 
unknown 
false 3
true 3
true 3
unknown 
unknown 
true 3
unknown 
false 6 7
true 6 7
true 4 5
true 2 3 4 5
unknown 
unknown 
unknown 
unknown 
true 5 6
false 8 10
unknown 
unknown 
true 4
true 6 13
true 11
unknown 
false 3 4
unknown 
unknown 
true 11 12 14
unknown 
true 10 13
false 10 13
unknown 
unknown 
false 10 13
true 10
unknown 
false 7 9
false 7
unknown 
unknown 
true 1
unknown 
false 5
true 5
false 8 9 10 13
true 7 8 9
false 7 8 9
true 13
true 13
unknown 
unknown 
true 6 7
true 11 12 13 15
unknown 
true 4 10
true 0 3
true 3 4
false 4 10
false 0 3
false 3 4
true 12 15
false 12 15
true 7
true 0 4
unknown 
true 1 4 6
true 4 9
false 4 9
true 6 9
true 3
true 9 14
false 9 10 14
true 5
true 4 5 8
true 10
true 5 6
false 13
true 9 10 13
true 13
true 13
unknown 
true 4
unknown 
unknown 
unknown 
unknown 
true 5 6
false 3 4
true 3 4
false 1 6
unknown 
true 0
true 0
unknown 
true 1 3
true 2 3 4 5
true 2
true 3 4
true 3
unknown 
false 10
unknown 
unknown 
unknown 
unknown 
unknown 
false 10 17
unknown 
unknown 
true 3 5
true 9
false 9
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
true 0 1 5
false 3
true 3
true 4 5 9
true 7
false 7
true 4
true 4
true 3
true 4
unknown 
unknown 
false 12
true 12
unknown 
false 1
unknown 
false 10
unknown 
true 0
false 0
unknown 
true 2 3
true 4
unknown 
true 7
false 11 12 13
false 0 1 5
true 0 1
false 10 12
true 8 11
true 7 8
unknown 
true 5
false 9
false 7 9 10 13
true 9 10
unknown 
false 1
false 3
false 3
false 9 10
true 5
unknown 
unknown 
unknown 
true 1 2
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
true 1 3 4 5 6
true 4
unknown 
unknown 
unknown 
unknown 
true 2
false 2 4
true 2 4
unknown 
false 6 7
false 3 9
true 4 5 7
unknown 
unknown 
true 1
unknown 
true 2 3
true 0
true 9 10
true 7 8 9 10
unknown 
unknown 
true 1 3
false 2
true 2
unknown 
unknown 
false 4
unknown 
false 4
true 1 3 5
false 9
true 2 3
true 3
unknown 
true 2 4
true 10 12
true 7 8
true 10 11 12 15
false 10 11 12 15
unknown 
unknown 
false 6 10
true 10
false 5 6
false 6
false 5
true 4 5
true 3 5
false 4
unknown 
true 0
true 5
true 4 5
unknown 
true 1
unknown 
unknown 
unknown 
unknown 
unknown 
unknown 
false 6
false 7 8 9
true 6
true 7 8 9
unknown 
true 4
unknown 
unknown 
